{% extends 'base.html' %}
{% load static %}
{% block content %}

<button type="submit" class="btn btn-danger" id="delete-board-button">게시글 삭제</button>
<main>
    <div class="board-details">
      <h1 style="text-align: center;"> {{ board.title }}</h1>
        <h3 style="text-align: right;">{{ board.name }} , {{ board.cdate }}</h3>
        <img src="{% static 'images/food3.jpg' %}" alt="짜장면">
        <img src="{{ images.images.url }}" alt="사진">
        <div class="recipe">
          {% for allergy in allerinfo %}
            {{ allergy }}
          {% endfor %}
        </div>
        <div class="recipe">
          <ul>
            {% for key, ingredient in ingredient_data.items %}
            <li>
                {{key}} {{ ingredient }}
            </li>
            {% endfor %}
          </ul>
        </div>
        {% for recipe in board.content %}
        <div class="recipe-box">
          <p>{{ forloop.counter }}</p>
          <div class="recipe">
            {{ recipe }}
          </div>
          {% for image in images %}
            <img src="{{ image.url }}" alt="게시판 이미지">
            {% endfor %}
        </div>
        {% endfor %}
    </div>

  <div class="board-like-button-container">
    <button class="like-button" aria-label="Like"></button>
  </div>
</main>
<div>
  <div class="comment-box">
    <form method="POST" action="{% url 'board:create_comment' board.bno %}">
      {% csrf_token %}
      {{ comment_form.as_p }}
      <button type="submit">Add Comment</button>
    </form>
    {% for comment in comments %}
      <div class="comment">
          <p>{{ comment.comments }}</p>
          <p>Posted by: {{ comment.cno.username }}</p>
      </div>
    {% endfor %}
  </div>
</div>

<div id="recommend"></div>
<div class="container">
  <div class="post">
    <a href="post.html">
      <img src="{% static 'images/food2.jpg' %}" alt="Post 1 Thumbnail">
      <h2>삼겹살</h2>
    </a>
  </div>
  <div class="post">
    <a href="post.html">
      <img src="{% static 'images/food3.jpg' %}" alt="Post 2 Thumbnail">
      <h2>짜장면</h2>
    </a>
  </div>
  <div class="post">
    <a href="post.html">
      <img src="{% static 'images/food4.jpg' %}" alt="Post 3 Thumbnail">
      <h2>돈까스</h2>
    </a>
  </div>
  <div class="post">
    <a href="post.html">
      <img src="{% static 'images/food2.jpg' %}" alt="Post 1 Thumbnail">
      <h2>삼겹살</h2>
    </a>
  </div>
  <div class="post">
    <a href="post.html">
      <img src="{% static 'images/food3.jpg' %}" alt="Post 2 Thumbnail">
      <h2>짜장면</h2>
    </a>
  </div>
  <div class="post">
    <a href="post.html">
      <img src="{% static 'images/food4.jpg' %}" alt="Post 3 Thumbnail">
      <h2>돈까스</h2>
    </a>
  </div>
  <div class="post">
    <a href="post.html">
      <img src="{% static 'images/food2.jpg' %}" alt="Post 1 Thumbnail">
      <h2>삼겹살</h2>
    </a>
  </div>
  <div class="post">
    <a href="post.html">
      <img src="{% static 'images/food3.jpg' %}" alt="Post 2 Thumbnail">
      <h2>짜장면</h2>
    </a>
  </div>
  <div class="post">
    <a href="post.html">
      <img src="{% static 'images/food4.jpg' %}" alt="Post 3 Thumbnail">
      <h2>돈까스</h2>
    </a>
  </div>
  <div class="post">
    <a href="post.html">
      <img src="{% static 'images/food2.jpg' %}" alt="Post 1 Thumbnail">
      <h2>삼겹살</h2>
    </a>
  </div>
  <div class="post">
    <a href="post.html">
      <img src="{% static 'images/food3.jpg' %}" alt="Post 2 Thumbnail">
      <h2>짜장면</h2>
    </a>
  </div>
  <div class="post">
    <a href="post.html">
      <img src="{% static 'images/food4.jpg' %}" alt="Post 3 Thumbnail">
      <h2>돈까스</h2>
    </a>
  </div>
  <div class="post">
    <a href="post.html">
      <img src="{% static 'images/food2.jpg' %}" alt="Post 1 Thumbnail">
      <h2>삼겹살</h2>
    </a>
  </div>
  <div class="post">
    <a href="post.html">
      <img src="{% static 'images/food3.jpg' %}" alt="Post 2 Thumbnail">
      <h2>짜장면</h2>
    </a>
  </div>
  <div class="post">
    <a href="post.html">
      <img src="{% static 'images/food4.jpg' %}" alt="Post 3 Thumbnail">
      <h2>돈까스</h2>
    </a>
  </div>
  <div class="post">
    <a href="post.html">
      <img src="{% static 'images/food2.jpg' %}" alt="Post 1 Thumbnail">
      <h2>삼겹살</h2>
    </a>
  </div>
  <div class="post">
    <a href="post.html">
      <img src="{% static 'images/food3.jpg' %}" alt="Post 2 Thumbnail">
      <h2>짜장면</h2>
    </a>
  </div>
  <div class="post">
    <a href="post.html">
      <img src="{% static 'images/food4.jpg' %}" alt="Post 3 Thumbnail">
      <h2>돈까스</h2>
    </a>
  </div>
</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
$(document).ready(function () {
    $("#delete-board-button").click(function () {
        if (confirm("게시글을 삭제하시겠습니까?")) {
            $.ajax({
                url: "{% url 'board:delete_board' board.bno %}",
                type: "POST",
                data: {
                    csrfmiddlewaretoken: "{{ csrf_token }}"
                },
                success: function (data) {
                    alert(data.message);
                    // 삭제가 성공하면 board_list 페이지로 이동
                    window.location.href = "{% url 'board:board_list' %}";
                }
            });
        }
    });
});
</script>
{% endblock %}
