{% extends 'base.html' %}
{% load static %}

{% block content %}
<section class="board-main" style="margin-left: 10px;">
    <form method="POST">
        {% csrf_token %}
        <div class="title">
            <label for="{{ form.title.id_for_label }}">제목</label>
            {{ board_form.title }}
        </div>
        <div class="content">
            <div class="allergy">알러지</div>
            <div class="allergy-table">
                {% for allergy in allergies %}  
                    <ul class="list">
                        <li class="list-item">
                            <input type="checkbox" class="hidden-box" id="{{ allergy.ano }}"/>
                            <label for="{{ allergy.ano }}" class="check--label">
                                <span class="check--label-box"></span>
                                <span class="check--label-text">{{ allergy.allergy }}</span>
                            </label>
                        </li>
                    </ul>
                {% endfor %}
            </div>
        <div class="ingredient">
            <label for="{{ board_form.ingredient.id_for_label }}">필수 재료</label>
            {{ board_form.ingredient }}
        </div>

        <div class="content">
            <label for="{{ recipe_form.recipe.id_for_label }}">레시피</label>
            <div id="recipe-fields">
                <div class="recipe-form">
                    <p>{{ recipe_form.recipe }}</p> <!-- 레시피 입력 필드를 <p> 태그로 감쌈 -->
                </div>
            </div>
            <button type="button" id="add-recipe">+</button>
            <button type="button" id="remove-recipe">-</button>
        </div>
        
        <!-- 등록 버튼을 별도의 <div>로 감싸서 분리 -->
        <div class="registration-button">
            <div>
                <a href="/board/board_detail/{{ board.name }}"></a>
            </div>
            <!-- {{ form.as_table }} -->
            <div style="display:flex; justify-content: center;">
                <input class="up" type="submit" value="등록">
            </div>
        </div>
    </form>
</section>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
$(document).ready(function() {
    // + 버튼을 클릭할 때마다 새로운 레시피 입력 필드를 추가
    $("#add-recipe").click(function() {
        var recipeField = $(".recipe-form:first").clone();
        recipeField.find('textarea').val(''); // 새로운 필드를 비웁니다.
        $("#recipe-fields").append(recipeField);
    });

    // - 버튼을 클릭하여 레시피 입력 필드를 제거
    $("#remove-recipe").click(function() {
        var recipeFieldCount = $("#recipe-fields .recipe-form").length;
        // 최소한 1개의 레시피 입력 필드가 있어야 함
        if (recipeFieldCount > 1) {
            $("#recipe-fields .recipe-form:last").remove();
        }
    });

    // 등록 버튼 클릭 시 모든 레시피를 리스트로 저장
    $("#your-submit-button-id").click(function() {
        var recipeList = [];
        $(".recipe-form textarea").each(function() {
            var recipeValue = $(this).val();
            if (recipeValue !== '') {
                recipeList.push(recipeValue);
            }
        });

        // recipeList를 JSON 형식으로 보낼 수 있도록 처리
        var recipeData = JSON.stringify(recipeList);

    });
});
</script>
{% endblock %}

