{% extends 'base.html' %}
{% load static %}
{% block content %}
<script>const csrfToken = "{{ csrf_token|escapejs }}";</script>
<button type="submit" class="btn btn-danger" id="delete-board-button">게시글 삭제</button>
<main>
    <div class="board-details">
      <h1 style="text-align: center;"> {{ board.title }}</h1>
        <h3 style="text-align: right;">{{ board.name }} , {{ board.cdate }}</h3>
        {% if images %}
        <div class="image-box">
          {% with latest_image=images|first %}
            <img src="{{ latest_image.image.url }}" alt="title 이미지">
          {% endwith %}
        </div>
        {% endif %}
        <div>
          <p>종류 : {{board.types}}</p>
          <p>주재료 : {{board.meterial}}</p>
        </div>

        <div class="recipe">
          {% for allergy in allerinfo %}
            {{ allergy }}
          {% endfor %}
        </div>
        <div class="recipe">
          <ul>
            {% for key, ingredient in ingredient_data.items %}
            <li>
                {{key}} {{ ingredient }}
            </li>
            {% endfor %}
          </ul>
        </div>
        {% for recipe, image in recipe_images %}
        <div class="recipe-box">
          <p>{{ forloop.counter }}</p>
          <div class="recipe">
            {{ recipe }}
          </div>
          {% if image %}
            <img class="recipe-img" src="{{ image.image.url }}" alt="게시판 이미지">
          {% endif %}
        </div>
        {% endfor %}

    </div>

  <div class="board-like-button-container">
    <button class="like-button" aria-label="Like" data-id="{{ board.bno }}"></button>
  </div>
</main>
<div>
  <div class="comment-box">
    <form method="POST" action="{% url 'board:create_comment' board.bno %}">
      {% csrf_token %}
      {{ comment_form.as_p }}
      <button type="submit">Add Comment</button>
    </form>
    {% for comment in comments %}
      <div class="comment">
          <p>{{ comment.comments }}</p>
          <p>Posted by: {{ comment.cno.username }}</p>
      </div>
    {% endfor %}
  </div>
</div>

<div id="recommend"></div>
<div class="container">
  <div class="post">
    <a href="post.html">
      <img src="{% static 'images/food2.jpg' %}" alt="Post 1 Thumbnail">
      <h2>삼겹살</h2>
    </a>
  </div>
  <div class="post">
    <a href="post.html">
      <img src="{% static 'images/food3.jpg' %}" alt="Post 2 Thumbnail">
      <h2>짜장면</h2>
    </a>
  </div>
  <div class="post">
    <a href="post.html">
      <img src="{% static 'images/food4.jpg' %}" alt="Post 3 Thumbnail">
      <h2>돈까스</h2>
    </a>
  </div>
  <div class="post">
    <a href="post.html">
      <img src="{% static 'images/food2.jpg' %}" alt="Post 1 Thumbnail">
      <h2>삼겹살</h2>
    </a>
  </div>
  <div class="post">
    <a href="post.html">
      <img src="{% static 'images/food3.jpg' %}" alt="Post 2 Thumbnail">
      <h2>짜장면</h2>
    </a>
  </div>
  <div class="post">
    <a href="post.html">
      <img src="{% static 'images/food4.jpg' %}" alt="Post 3 Thumbnail">
      <h2>돈까스</h2>
    </a>
  </div>
  <div class="post">
    <a href="post.html">
      <img src="{% static 'images/food2.jpg' %}" alt="Post 1 Thumbnail">
      <h2>삼겹살</h2>
    </a>
  </div>
  <div class="post">
    <a href="post.html">
      <img src="{% static 'images/food3.jpg' %}" alt="Post 2 Thumbnail">
      <h2>짜장면</h2>
    </a>
  </div>
  <div class="post">
    <a href="post.html">
      <img src="{% static 'images/food4.jpg' %}" alt="Post 3 Thumbnail">
      <h2>돈까스</h2>
    </a>
  </div>
  <div class="post">
    <a href="post.html">
      <img src="{% static 'images/food2.jpg' %}" alt="Post 1 Thumbnail">
      <h2>삼겹살</h2>
    </a>
  </div>
  <div class="post">
    <a href="post.html">
      <img src="{% static 'images/food3.jpg' %}" alt="Post 2 Thumbnail">
      <h2>짜장면</h2>
    </a>
  </div>
  <div class="post">
    <a href="post.html">
      <img src="{% static 'images/food4.jpg' %}" alt="Post 3 Thumbnail">
      <h2>돈까스</h2>
    </a>
  </div>
  <div class="post">
    <a href="post.html">
      <img src="{% static 'images/food2.jpg' %}" alt="Post 1 Thumbnail">
      <h2>삼겹살</h2>
    </a>
  </div>
  <div class="post">
    <a href="post.html">
      <img src="{% static 'images/food3.jpg' %}" alt="Post 2 Thumbnail">
      <h2>짜장면</h2>
    </a>
  </div>
  <div class="post">
    <a href="post.html">
      <img src="{% static 'images/food4.jpg' %}" alt="Post 3 Thumbnail">
      <h2>돈까스</h2>
    </a>
  </div>
  <div class="post">
    <a href="post.html">
      <img src="{% static 'images/food2.jpg' %}" alt="Post 1 Thumbnail">
      <h2>삼겹살</h2>
    </a>
  </div>
  <div class="post">
    <a href="post.html">
      <img src="{% static 'images/food3.jpg' %}" alt="Post 2 Thumbnail">
      <h2>짜장면</h2>
    </a>
  </div>
  <div class="post">
    <a href="post.html">
      <img src="{% static 'images/food4.jpg' %}" alt="Post 3 Thumbnail">
      <h2>돈까스</h2>
    </a>
  </div>
</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
$(document).ready(function () {
    $("#delete-board-button").click(function () {
        if (confirm("게시글을 삭제하시겠습니까?")) {
            $.ajax({
                url: "{% url 'board:delete_board' board.bno %}",
                type: "POST",
                data: {
                    csrfmiddlewaretoken: "{{ csrf_token }}"
                },
                success: function (data) {
                    alert(data.message);
                    // 삭제가 성공하면 board_list 페이지로 이동
                    window.location.href = "{% url 'board:board_list' %}";
                }
            });
        }
    });
});
document.addEventListener('click', function (event) {
  if (event.target.classList.contains('like-button')) {
      const boardId = event.target.getAttribute('data-id');
      
      // 서버로 POST 요청을 보냅니다.
      $.ajax({
          type: 'POST',
          url: "{% url 'board:like_button' %}",
          data: { bno: boardId },
          headers: {
              'X-CSRFToken': csrfToken
          },
          success: function (data) {
            alert(data.message);
          },
          error: function () {
              // 오류 처리
              alert("찜 해제 중 오류가 발생했습니다.");
          }
      });
  }
});
</script>
{% endblock %}
