{% extends 'base.html' %}
{% load static %}

{% block content %}
<h1>create board</h1>
<section class="board-main" style="margin-left: 10px;">
    <form method="POST">
        {% csrf_token %}
        <div class="title">
            <label for="{{ form.title.id_for_label }}">제목</label>
            {{ board_form.title }}
        </div>
        <div class="content">
            알러지
            <div class="allergy-table">
                {% for allergy in allergies %}  
                    <ul class="list">
                        <li class="list-item">
                            <input type="checkbox" class="hidden-box" id="{{ allergy.ano }}"/>
                            <label for="{{ allergy.ano }}" class="check--label">
                                <span class="check--label-box"></span>
                                <span class="check--label-text">{{ allergy.allergy }}</span>
                            </label>
                        </li>
                    </ul>
                {% endfor %}
            </div>
            <!-- <div class="allergy-table">
                <ul class="list">
                    <li class="list-item">
                        <input type="checkbox" class="hidden-box" id="first" checked/>
                        <label for="first" class="check--label">
                            <span class="check--label-box"></span>
                            <span class="check--label-text">땅콩</span>
                        </label>
                    </li>
                    <li class="list-item">
                        <input type="checkbox" class="hidden-box" id="second" />
                        <label for="second" class="check--label">
                            <span class="check--label-box"></span>
                            <span class="check--label-text">새우</span>
                        </label>
                    </li>
                    <li class="list-item">
                        <input type="checkbox" class="hidden-box" id="third" />
                        <label for="third" class="check--label">
                            <span class="check--label-box"></span>
                            <span class="check--label-text">난류</span>
                        </label>
                    </li>
                    <li class="list-item">
                        <input type="checkbox" class="hidden-box" id="four" checked/>
                        <label for="four" class="check--label">
                            <span class="check--label-box"></span>
                            <span class="check--label-text">땅콩</span>
                        </label>
                    </li>
                    <li class="list-item">
                        <input type="checkbox" class="hidden-box" id="five" />
                        <label for="five" class="check--label">
                            <span class="check--label-box"></span>
                            <span class="check--label-text">새우</span>
                        </label>
                    </li>
                        <li class="list-item">
                        <input type="checkbox" class="hidden-box" id="six" />
                        <label for="six" class="check--label">
                            <span class="check--label-box"></span>
                            <span class="check--label-text">난류</span>
                        </label>
                    </li>
                </ul>
            </div> 
        </div> -->
        <div class="content">
            <div id="recipe-fields">
                <p>{{ recipe_form.recipe }}</p> <!-- 레시피 입력 필드를 <p> 태그로 감쌈 -->
            </div>
            <button type="button" id="add-recipe">+</button>
            <button type="button" id="remove-recipe">-</button>
        </div>
        
        <!-- 등록 버튼을 별도의 <div>로 감싸서 분리 -->
        <div class="registration-button">
            <div>
                <a href="/board/board_detail/{{ board.name }}"></a>
            </div>
            <!-- {{ form.as_table }} -->
            <div style="display:flex; justify-content: center;">
                <input class="up" type="submit" value="등록">
            </div>
        </div>
        </form>
        </section>
        
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script>
        $(document).ready(function() {
            // + 버튼을 클릭할 때마다 새로운 레시피 입력 필드를 추가
            $("#add-recipe").click(function() {
                var recipeField = $(".content p:first").clone();
                recipeField.find('input').val(''); // 새로운 필드를 비웁니다.
                $("#recipe-fields").append(recipeField);
            });
        
            // - 버튼을 클릭하여 레시피 입력 필드를 제거
            $("#remove-recipe").click(function() {
                var recipeFieldCount = $("#recipe-fields p").length;
                // 최소한 1개의 레시피 입력 필드가 있어야 함
                if (recipeFieldCount > 1) {
                    $("#recipe-fields p:last").remove();
                }
            });
        });
        </script>
        <!-- <div class="content">
            <label for="{{ form.content.id_for_label }}">레시피</label>
            <p>{{ recipe_form.recipe }}</p>
        </div>
        <button type="button" id="add-recipe">+</button>
        <button type="button" id="remove-recipe">-</button>
        <div class="recipe_button">
            <div>
                <a href="/board/board_detail/{{board.name}}"></a>
            </div>
            <div style="display:flex; justify-content: center;">
                <input class="up" type="submit" value="등록">
            </div>
        </div>
    </form>
</section>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
$(document).ready(function() {
    // + 버튼을 클릭할 때마다 새로운 레시피 입력 필드를 추가
    $("#add-recipe").click(function() {
        var recipeField = $(".content p:first").clone();
        recipeField.find('input').val(''); // 새로운 필드를 비웁니다.
        $(".content").append(recipeField);
    });

    // - 버튼을 클릭하여 레시피 입력 필드를 제거
    $("#remove-recipe").click(function() {
    var recipeFieldCount = $(".content p").length;
    // 최소한 1개의 레시피 입력 필드가 있어야 함
    if (recipeFieldCount > 1) {
        $(".content p:last").remove();
        }
    });
});
</script> -->
{% endblock %}

