{% extends 'boardbase.html' %}
{% load static %}
{% block content %}
<script>const csrfToken = "{{ csrf_token|escapejs }}";</script>
<button type="submit" class="btn btn-danger" id="delete-board-button">게시글 삭제</button>
<main>
    <div class="board-details">
      <h1 style="text-align: center;"> {{ board.title }}</h1>
        <h3 style="text-align: right;">{{ board.name }} , {{ board.cdate }}</h3>
        {% if images.image %}
        <div class="image-box">
          <img src="{{ images.image.url }}" alt="title이미지">
        </div>
        {% else %}
        <div class="image-box">
          {% with strip_first_image=images.ex_image|slice:"1:-1" %}
          <img src="{{ strip_first_image }}" alt="title이미지">
          {% endwith %}
        </div>
        {% endif %}
        <div>
          <p>종류 : {{board.types}}</p>
          <p>주재료 : {{board.meterials}}</p>
        </div>

        <div class="recipe">
          {% for allergy in allerinfo %}
            {{ allergy }}
          {% endfor %}
        </div>
        
        <div class="recipe">
        {% for ingredient in board.ingredient %}
          {{ ingredient }}
        {% endfor %}
        </div>
        {% for recipe, image in recipes %}
        <div class="recipe-box">
          <p>{{ forloop.counter }}</p>
          <div class="recipe">
            {{ recipe }}
          </div>
          {% if image.url %}
            <img class="recipe-img" src="{{ image.url }}" alt="게시판 이미지">
          {% else %}
            {% with stripped_url=image|slice:"1:-1" %}
            <img src="{{ stripped_url }}" alt="게시판 이미지">
            {% endwith %}
          {% endif %}
        </div>
        {% endfor %}
    </div>

  <div class="board-like-button-container">
    <button class="like-button" aria-label="Like" data-id="{{ board.bno }}"></button>
  </div>
</main>
<div>
  <div class="comment-box">
    <form method="POST" action="{% url 'board:create_comment' board.bno %}">
      {% csrf_token %}
      {{ comment_form.comments }}
      <button type="submit">등록</button>
    </form>
    <br>
    <hr width="80%" color="#E6E6E6" >
    {% for comment, name in writen_comment %}
    {% if user.is_authenticated %}
          <form action="{% url 'board:delete_comment' board.bno comment.serialno %}" method="POST">
            {% csrf_token %}
            <input type="submit" value="삭제">
          </form>
          {% endif %}
      <div class="comment">
        <div class="comment-title">
          {{ name }} {{comment.cdate}}
        </div>
        <div class="comment-text">
          {{ comment.comments }}
        </div>
      </div>
      <hr width="80%" color="#E6E6E6" >
    {% endfor %}
  </div>
</div>
<div class="container">
  {% for boards, image in sim_board %}
  <div class="post">
    <a href="/board/board_detail/{{boards.bno}}">
      {% if iamge.image %}
      <img src="{{ image.image.url }}" alt="{{ boards.title }}">
      {% else %}
        {% with stripped_ex_url=image.ex_image|slice:"1:-1" %}
        <img src="{{ stripped_ex_url }}" alt="{{ boards.title }}">
        {% endwith %}
      {% endif %}
      <h2>{{ boards.title }}</h2>
    </a>
  </div>
  {% endfor %}
</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
$(document).ready(function () {
    $("#delete-board-button").click(function () {
        if (confirm("게시글을 삭제하시겠습니까?")) {
            $.ajax({
                url: "{% url 'board:delete_board' board.bno %}",
                type: "POST",
                data: {
                    csrfmiddlewaretoken: "{{ csrf_token }}"
                },
                success: function (data) {
                    alert(data.message);
                    // 삭제가 성공하면 board_list 페이지로 이동
                    window.location.href = "{% url 'board:board_list' %}";
                }
            });
        }
    });
});
document.addEventListener('click', function (event) {
  if (event.target.classList.contains('like-button')) {
      const boardId = event.target.getAttribute('data-id');
      
      // 서버로 POST 요청을 보냅니다.
      $.ajax({
          type: 'POST',
          url: "{% url 'board:like_button' %}",
          data: { bno: boardId },
          headers: {
              'X-CSRFToken': csrfToken
          },
          success: function (data) {
            alert(data.message);
          },
          error: function () {
              // 오류 처리
              alert("찜 해제 중 오류가 발생했습니다.");
          }
      });
  }
});
</script>
{% endblock %}
