/* 기본 스타일 */
h1 {
    text-align: center;
    color: #364013;
    padding: 10px;
    margin-bottom: 20px;
}
.bookmark-container {
    width: 80%;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #FFFFFF;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}
.bookmark-button-container {
    text-align: center;
    margin: 20px 0;
}
.bookmark-button {
    background-color: #99A638;
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 5px;
    cursor: pointer;
    border-radius: 4px;
}
.bookmark-button:hover {
    background-color: #818C30;
}
.bookmark-heading {
    background-color: #6B7332;
    color: white;
    padding: 5px;
    border-radius: 4px;
}
.bookmark-list {
    list-style: none;
    padding: 0;
}
.bookmark-item {
    padding: 10px;
    background-color: #F2F2F2;
    margin-bottom: 5px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12);
}
.bookmark-link {
    color: #364013;
    text-decoration: none;
}

/* 미디어 쿼리를 사용하여 반응형 스타일 적용 */
@media (max-width: 768px) {
    .container {
        width: 90%;
    }
}
/* 기본적인 CSS 스타일 */
.bookmark-list {
    display: none;
}

/* bdelete-button 스타일 */
.bdelete-button {
    background-color: #99A638;
    color: #fff;
    border: none;
    padding: 5px 5px;
    cursor: pointer;
    float: right;
    margin-top: -2.5px;
}
.bdelete-button:hover {
    background-color: #818C30; /* 호버 시 배경색 변경 */
}

/* fdelete-button 스타일 */
.fdelete-button {
    background-color: #99A638;
    color: #fff;
    border: none;
    padding: 5px 5px;
    cursor: pointer;
    float: right;
    margin-top: -2.5px;
}
.fdelete-button:hover {
    background-color: #818C30; /* 호버 시 배경색 변경 */
}