h1 {
    text-align: center;
    color: #364013;
    padding: 10px;
    margin-bottom: 20px;
}
.myboard-container {
    width: 80%;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #FFFFFF;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}
.myboard-list {
    list-style: none;
    padding: 0;
}
.myboard-item {
    padding: 10px;
    background-color: #F2F2F2;
    margin-bottom: 5px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12);
}
.bookmark-heading {
    background-color: #6B7332;
    color: white;
    padding: 5px;
    border-radius: 4px;
}
.delete-button {
    background-color: #99A638;
    color: #fff;
    border: none;
    padding: 5px 5px;
    cursor: pointer;
    float: right;
    margin-top: -2.5px;
}
.delete-button:hover {
    background-color: #818C30; /* 호버 시 배경색 변경 */
}
.bookmark-button {
    background-color: #99A638;
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 5px;
    cursor: pointer;
    border-radius: 4px;
}
.bookmark-button:hover {
    background-color: #818C30;
}
/* 체크 박스 스타일링 */
.checkbox {
    display: inline-block;
    margin-right: 10px;
  }
  
.checkbox input[type="checkbox"] {
  display: none;
}
  
.checkbox label {
  background-color: #e5e5e5;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
}
  
.checkbox input[type="checkbox"]:checked + label {
  background-color: #99A638;
  color: #fff;
  border: 1px solid #99A638;
}
  
/* 선택한 알러지 목록 스타일링 */
#selected-allergies {
  margin-top: 20px;
}
  
#selected-allergies ul {
  list-style: none;
  padding: 0;
}
  
#selected-allergies ul li {
  margin-bottom: 5px;
}