{% extends "base.html" %}
{% load static %}

{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'css/myboard.css' %}">
<div class="signup-form">
  <h1>회원 프로필</h1>
  {% if messages %}
        <ul class="errorlist">
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
        </ul>
  {% endif %}
  <form method="post" action="{% url 'signapp:update' %}">
    {% csrf_token %}
    <label for="username">ID</label>
    <input type="text" id="username" name="username" value="{{ user_profile.username }}" readonly>
    <label for="email">이메일</label>
    <input type="email" id="email" name="email" value="{{ user_profile.email }}">
    <label for="phone">전화번호</label>
    <input type="tel" id="phone" name="phone" value="{{ user_profile.phone }}">
    <label for="birthdate">출생일</label>
    <input type="date" id="birthdate" name="birthdate" value="{{ user_profile.birthdate|date:'Y-m-d' }}">
    <label>성별</label>
    <div class="gender-label-container">
      <label for="male" class="gender-label {% if user_profile.gender == 1 %}selected{% endif %}">남자</label>
      <input type="radio" id="male" name="gender" value="1" {% if user_profile.gender == 1 %}checked{% endif %}>
      <label for="female" class="gender-label {% if user_profile.gender == 0 %}selected{% endif %}">여자</label>
      <input type="radio" id="female" name="gender" value="0" {% if user_profile.gender == 0 %}checked{% endif %}>
    </div>
    <!-- 알러지 선택 체크 박스 그룹 -->
    <!-- <input type="all" id="all" name="all" value="{{ allergies }}"> -->
    <div id="allerinfo-group">
      <label for="allerinfo">알러지 선택</label>
      <label>사용자 알레르기 : {{allergies}}</label>
      {% for allergy in form.allerinfo.field.queryset %}
      <div class="checkbox">
        <input type="checkbox" name="allerinfo" id="allergy-{{ allergy.ano }}" value="{{ allergy.ano}}"
              {% if user_profile.allerinfo and allergy.ano in user_profile.allerinfo %}checked{% endif %}>
        <label for="allergy-{{ allergy.ano }}">{{ allergy.allergy }}</label>
      </div>
      {% endfor %}
    </div>

    <input type="submit" value="프로필 업데이트">
  </form>
  <form action = "{% url 'signapp:update_password' %}" method = "POST">
    {% csrf_token %}
    <!-- 비밀번호 입력 -->
    <input type="password" pattern="[A-Za-z0-9]{8,25}" placeholder="비밀번호(8~15자리)" name="password" id="password" required
    oninvalid="this.setCustomValidity('비밀번호는 8~25자리여야 합니다.')"
    oninput="this.setCustomValidity('')">

    <!-- 비밀번호 확인 입력 -->
    <input type="password" placeholder="비밀번호 확인" name="password_confirm" id="password_confirm" required>
    <span id="password-confirm-error" class="error-msg"></span> <!--오류출력-->
    <input type = "submit" value = "비밀번호 변경"
  </form>
  <form action = "{% url 'signapp:delete' %}" method="POST"  id="delete-form">
    {% csrf_token %}
    <input type = "submit" value = "회원탈퇴" onclick="return confirmDelete()">
  </form>
</div>
<script>
  document.addEventListener('DOMContentLoaded', function() {
    const genderLabels = document.querySelectorAll('.gender-label');

    genderLabels.forEach(label => {
      label.addEventListener('click', function() {
        genderLabels.forEach(label => label.classList.remove('selected'));
        this.classList.add('selected');

        const genderRadio = document.getElementById(this.getAttribute('for'));
        genderRadio.checked = true;
      });
    });
  });
  function confirmDelete() {
    if (confirm("정말로 회원 탈퇴하시겠습니까? 모든 계정의 정보가 삭제됩니다.")) {
        // 사용자가 확인을 눌렀을 때만 폼을 제출
        document.getElementById('delete-form').submit();
    } else {
        // 사용자가 취소를 눌렀을 때
        return false; // 폼 제출 취소
    }
}
</script>
{% endblock %}
