{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="signup-form">
  <h1>회원 프로필</h1>
  <form method="post">
    {% csrf_token %}
    <label for="username">ID</label>
    <input type="text" id="username" value="{{ user_profile.user.username }}" readonly>
    <label for="email">이메일</label>
    <input type="email" id="email" value="{{ user_profile.user.email }}" readonly>
    <label for="phone">전화번호</label>
    <input type="tel" id="phone" name="phone" value="{{ user_profile.phone }}" required>
    <label for="birthdate">출생일</label>
    <input type="date" id="birthdate" name="birthdate" value="{{ user_profile.birthdate }}">
    <label>성별</label>
    <div class="gender-label-container">
      <label for="male" class="gender-label {% if user_profile.gender == 'M' %}selected{% endif %}" id="male">남자</label>
      <label for="female" class="gender-label {% if user_profile.gender == 'F' %}selected{% endif %}" id="female">여자</label>
    </div>
    <label for="password">새 비밀번호</label>
    <input type="password" id="password" name="password" required>
    <label for="password-confirm">비밀번호 확인</label>
    <input type="password" id="password-confirm" name="password-confirm" required>
    
    <input type="submit" value="프로필 업데이트">
  </form>
</div>
<script>
  document.addEventListener('DOMContentLoaded', function() {
    const genderLabels = document.querySelectorAll('.gender-label');

    genderLabels.forEach(label => {
      label.addEventListener('click', function() {
        genderLabels.forEach(label => label.classList.remove('selected'));
        this.classList.add('selected');

        const genderRadio = document.getElementById(this.getAttribute('for'));
        genderRadio.checked = true;
      });
    });
  });
</script>
{% endblock %}
